#add_uttp, #ganti_pedagang, #ganti_pasar {
    font-family: 'Roboto', sans-serif;;
    font-size: 12px;
    font-weight: 500;
    color : #FFFFFF;
    background-color: #332421;
    border-top: 2px solid #FF7F00;
}