#qrcode_str {
    padding: 5px;
}

.banner {
    background-color: #52B2BF;
    padding : 3px;
    display : block;
}

.dataTabel {
    border : 2px solid #000000;
    border-collapse : separate;

}

.tHead {
    background-color: #7f3e98;
    color : #FFFFFF;
    font-family : Tahoma;
}

.tBody {
    background-color: #FFFFF5;
    font-family : Tahoma;
    color : #7f3e98;
}

td {
	border-left : 1px solid #7f3e98; 
    border-right : 1px solid #7f3e98;
    border-bottom : 1px solid #7f3e98;
    padding : 4px 4px 4px 4px;
}

.tombolDiv {
	/*border-width: 4px;
    border-color: #7f3e98;
    border-style: double;*/    
    width : 100%;
    height : auto;
    margin : auto auto;
    padding : 4px;
    display : flex;
    /*background-color: #A9A9B0; */  
    padding-top: 10px;
    padding-bottom: 20px;
}

#scanImg {
    width : 50%;
    height : 50%;
}

p.keterangan {
    line-height: 1;
    font-size: 14px;
    font-family:Arial, Helvetica, sans-serif;
}

p.ungu {
    color : #812aa3; 
    font-weight: bold;
}

.reScan{
	border : 1px solid #A7C7E7;
    border-radius : 2%;
    width : 49%;
    height : 250px;
    display : inline-block;
    margin-right : auto;
    margin-left : auto;
    position : relative;
    background-color: #FFFFFF;
    border-bottom : 50px solid #A7C7E7;
    align-content: center;
    box-shadow: 2px 4px 10px #7f3e98;
}

.tandaiTera {
	border : 1px solid #0492c2;
    border-radius : 2%;
    width : 49%;
    height : 250px;
    display : inline-block;
    margin-right : auto;
    background-color: #FFFFFF;
    margin-left : auto;
    position : relative;
    box-shadow: 2px 4px 10px #7f3e98;
    border-bottom : 50px solid #0492c2;
}

  